---
title: Making a 4' x 8' assembly table for my workshop
youtube: https://www.youtube.com/watch?v=p9-VdPhcvT8
date: 2021-01-19
---

<p>Building a 4' x 8' assembly table for my workshop. Built with a welded metal based, but will be used primarily for woodworking projects.</p>
