---
title: This tool cuts only one material in only one direction
link: https://www.youtube.com/watch?v=TmI6oqexalw
type: Video
date: 2021-04-06
---

<p>Here&apos;s a quick video about my favorite obscure tool: The Saw Trax Coro-Claw. It&apos;s only job is to cut Coroplast (corrugated plastic) and it can only do it in one direction, along the flutes.</p>
