---
title: How to make end grain walnut cutting boards
link: https://www.youtube.com/watch?v=01nT8pK4AkQ&feature=youtu.be
type: Video
date: 2021-02-16
---

<p>In this video I make three end grain cutting boards out of walnut. They came out beautifully!</p>
