---
title: Making drill bit sorting trays with 3d printing
link: https://www.youtube.com/watch?v=ldRGPcjtI_o
type: Video
date: 2021-03-09
---

<p>I hate all the little boxes that drill bits, router bits, and hex bits come in. They take up a lot of space in the drawer and add an extra step when you want to grab a bit. So, I design and 3d print trays to replace them and help organize my bit drawer.</p>
