---
title: Keeping drill bits organized with a simple trick
link: https://www.youtube.com/watch?v=TKlWVNFi0vo
type: Video
date: 2021-03-23
---

<p>I came up with a really simple way to make sure I always put my drill bits back in the right spot.</p>
