---
title: Using a 5-ton crane to take an aerial photo of my work shop
link: https://www.youtube.com/watch?v=EI3dJ-bJLCI
type: Video
date: 2021-02-02
---

<p>My shop is in a giant old warehouse building in Oakland. It has a 5-ton crane that runs along a track in the ceiling. I thought it would be interesting to attach a GoPro to it to get a top-down photo of the shop.</p>
