---
title: How to pain new steel
link: https://www.youtube.com/watch?v=BRhrOWJyeE4
type: Video
date: 2021-02-23
---

<p>I'm building a TV console cabinet with a welded steel frame. I figured it would be a good opportunity to talk about my process for painting new steel. It takes a lot of prep work to get a good finish.</p>
