---
title: Maker Box Unboxing & 3D Printing Pugs
youtube: https://www.youtube.com/watch?v=4FNv_2bPOYk&t=1s
date: 2021-01-12
---

<p>Every time I get a new 3D printer filament I print a pug as a test. Many of these filaments came from a Maker Box subscription. Let's unbox a Maker Box, see what filaments it came with, and print some new pugs for my pug army.</p>
