---
title: A tour of my old woodworking and metalworking shop
link: https://www.youtube.com/watch?v=vAH2GOjEWUw&t=8s
type: Video
date: 2021-01-08
---

<p>This is a tour I shot of my old shop last summer, just before packing it up and moving to my current location.</p>
