---
title: A tour of my workshop, and why I'm leaving
link: https://www.youtube.com/watch?v=Z4DREYtJ75w&feature=youtu.be
type: Video
date: 2021-02-09
---

<p>Here's a tour of my 900sf workshop in an enormous warehouse building in Oakland. I also talk about why I'm planning to move out.</p>
