---
title: Making a mounted TV cabinet - Part 1
link: https://www.youtube.com/watch?v=kSb6ABmc47A
type: Video
date: 2021-04-21
---

<p>I got the idea to build a TV console cabinet with a built-in TV mount, which is much tidier and more flexible than mounting the TV to the wall. This is part 1 of 3, in which I weld and paint the metal frame.</p>
