---
title: Adding a metal top to a wood table, for welding
youtube: https://www.youtube.com/watch?v=8EDgsMbOLNs&t=1s
date: 2021-01-05
---

<p>I built this table years ago as an out-feed table for my table saw, but it was the only big work surface I had so I ended up using for everything, including welding. It's gotten really beat up, which has made not usable for other tasks. I decided I need dedicated tables for specific purposes. So I added some sheets of 12-gauge steel to turn this table into a full-time welding table. Later on I'll build additional tables for other purposes.</p>
