// =========
// variables
// =========

$base-size: 20px;

// 640px for youtube thumbnails
// 20px * 2 for body padding
// 20px * 2 for border on <html>
$breakpoint: 640px + ($base-size * 4);

:root {

  // see global/_dark-mode.scss for additional variables

  --pink: #d941d9;
  --yellow: #d9d941;
  --blue: #41d9d9;

  --link: var(--pink);
  --link-hover: var(--blue);

  --light-weight: 300;
  --heavy-weight: 900;

}



// =======
// imports
// =======

@import 'global/media-queries';
@import 'global/layout';
@import 'global/typography';
@import 'global/dark-mode';

@import 'components/crazy-link';
@import 'components/logo';

@import 'pages/home';
@import 'pages/post';
