:root {
  --pink: #d941d9;
  --yellow: #d9d941;
  --blue: #41d9d9;
  --link: var(--pink);
  --link-hover: var(--blue);
  --light-weight: 300;
  --heavy-weight: 900;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: var(--background);
}
@media (min-width: 720px) {
  html {
    border: 1rem solid var(--border);
  }
}

body {
  max-width: 34rem;
  padding: 1rem;
  margin: 0 auto;
}

html {
  font-size: 20px;
}

body {
  font-size: 0.9rem;
  color: var(--text);
  font-family: sofia-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

a:not([data-crazy]):not(.stealth):not(.logo):not(.toggle-dark) {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.15em solid var(--link);
  transition: color 0.25s, border-color 0.25s;
}
@media (hover: hover) and (pointer: fine) {
  a:not([data-crazy]):not(.stealth):not(.logo):not(.toggle-dark):hover, a:not([data-crazy]):not(.stealth):not(.logo):not(.toggle-dark).active {
    color: var(--link-hover);
    border-bottom-color: var(--link-hover);
  }
}

h1, h2, h3, h4, h5, h6 p,
ul, ol,
blockquote,
img {
  margin: 1.5em 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heavy-weight);
}

h1 {
  font-size: 1rem;
}
@media (min-width: 720px) {
  h1 {
    font-size: 1.3rem;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  background: var(--border);
}

html {
  --blend-mode: multiply;
  --text: #4c3740;
  --background: #fff;
  --border: #efefe4;
}

html.alt {
  --blend-mode: screen;
  --text: #ddd;
  --background: #222;
  --border: #333;
}

@media (prefers-color-scheme: dark) {
  html {
    --blend-mode: screen;
    --text: #ddd;
    --background: #222;
    --border: #333;
  }

  html.alt {
    --blend-mode: multiply;
    --text: #4c3740;
    --background: #fff;
    --border: #efefe4;
  }
}
.toggle-dark {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
}
@media (min-width: 720px) {
  .toggle-dark {
    top: 1.5rem;
    right: 1.5rem;
  }
}

[data-crazy] {
  color: var(--text);
}
@media (hover: hover) and (pointer: fine) {
  [data-crazy] {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  [data-crazy] span, [data-crazy]:before, [data-crazy]:after {
    display: block;
    transition: transform 0.5s;
    mix-blend-mode: var(--blend-mode);
  }
  [data-crazy]:before, [data-crazy]:after {
    content: attr(data-crazy);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
  }
  [data-crazy] span {
    color: var(--pink);
  }
  [data-crazy]:before {
    color: var(--blue);
  }
  [data-crazy]:after {
    color: var(--yellow);
  }
  [data-crazy]:hover span {
    transform: translate(0, -0.05em);
  }
  [data-crazy]:hover:before {
    transform: translate(-0.0433012702em, 0.025em);
  }
  [data-crazy]:hover:after {
    transform: translate(0.0433012702em, 0.025em);
  }
}

.logo {
  display: block;
  position: relative;
  width: 6.91rem;
  height: 5.9842355402rem;
  color: rgba(0, 0, 0, 0);
  margin: 3rem auto;
}
.logo span, .logo:before, .logo:after {
  width: 0;
  height: 0;
  display: block;
  border-top: 4.3301270189rem solid var(--pink);
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
  mix-blend-mode: var(--blend-mode);
  transition: transform 0.5s;
}
.logo span {
  margin: 0 auto;
}
.logo:before, .logo:after {
  content: "";
  position: absolute;
  top: 1.6541085212rem;
}
.logo:before {
  right: 1.91rem;
  border-top-color: var(--blue);
}
.logo:after {
  left: 1.91rem;
  border-top-color: var(--yellow);
}
@media (min-width: 720px) {
  .logo {
    margin: 6rem auto;
  }
}
@media (hover: hover) and (pointer: fine) {
  .logo:hover span, .logo:hover:before, .logo:hover:after {
    transform: translate(-0.6303rem, -1.1rem) rotate(120deg);
  }
}

body > header {
  font-size: 1rem;
  font-weight: var(--light-weight);
  line-height: 2;
  margin: 0 0 5rem;
}
body > header h1 {
  text-align: center;
  margin: -0.3em -1rem 1.5rem;
  line-height: 1;
  font-size: 4rem;
}
@media (min-width: 720px) {
  body > header {
    font-size: 1.3rem;
    margin-bottom: 8rem;
  }
  body > header h1 {
    font-size: 9rem;
    margin-bottom: 3rem;
  }
}

body > footer {
  margin-top: 5rem;
}
@media (min-width: 720px) {
  body > footer {
    margin-top: 9rem;
  }
}

article {
  margin: 4rem 0;
}
@media (min-width: 720px) {
  article {
    margin: 6rem 0;
  }
}

.meta {
  font-weight: var(--light-weight);
  font-style: italic;
  font-size: 0.8rem;
  margin: 0.5em 0 1em;
}
@media (min-width: 720px) {
  .meta {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }
}