:root {
  --pink: #d941d9;
  --yellow: #d9d941;
  --blue: #41d9d9;
  --text: #4c3740;
  --link: var(--pink);
  --link-hover: var(--blue);
  --background: #fff;
  --border: #efefe4;
  --light-weight: 300;
  --heavy-weight: 900;
}

* {
  box-sizing: border-box;
}

@media (min-width: 720px) {
  html {
    border: 1rem solid var(--border);
  }
}

body {
  max-width: 34rem;
  padding: 1rem;
  margin: 0 auto;
}

html {
  font-size: 20px;
}

body {
  font-size: 0.9rem;
  color: var(--text);
  font-family: sofia-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

a:not([data-crazy]):not(.stealth) {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.15em solid var(--link);
}
a:not([data-crazy]):not(.stealth):hover, a:not([data-crazy]):not(.stealth).active {
  color: var(--link-hover);
  border-bottom-color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6 p,
ul, ol,
blockquote,
img {
  margin: 1.5em 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heavy-weight);
}

h1 {
  font-size: 1.3rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

[data-crazy] {
  position: relative;
  display: inline-block;
  color: var(--text);
  text-decoration: none;
}
[data-crazy] span, [data-crazy]:before, [data-crazy]:after {
  display: block;
  transition: transform 0.5s;
  mix-blend-mode: multiply;
}
[data-crazy]:before, [data-crazy]:after {
  content: attr(data-crazy);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
}
[data-crazy] span {
  color: var(--pink);
}
[data-crazy]:before {
  color: var(--blue);
}
[data-crazy]:after {
  color: var(--yellow);
}
[data-crazy]:hover span {
  transform: translate(0, -0.05em);
}
[data-crazy]:hover:before {
  transform: translate(-0.0433012702em, 0.025em);
}
[data-crazy]:hover:after {
  transform: translate(0.0433012702em, 0.025em);
}

body > header {
  font-size: 1.3rem;
  font-weight: var(--light-weight);
  line-height: 2;
}
body > header h1 {
  text-align: center;
  margin: 0 -1rem;
}
@media (min-width: 720px) {
  body > header h1 {
    font-size: 9rem;
  }
}

.meta {
  font-weight: var(--light-weight);
  font-style: italic;
  margin: 0.5em 0 1.75em;
}