---
template: archive
---

<header>
  <h1><%- include('crazy-link', {link: '/', text: 'eusonic'}) %></h1>
  <p>
    <em>adj.</em> a made up word meaning &ldquo;of pleasing sound.&rdquo;
    <br><em>n.</em> the personal weblog of <a href='/about'>Cameron Spencer</a>.
  </p>
  <p>
    Learn more <a href='/about'>about me</a>, <a href='http://www.lab43.com'>hire me</a> for your web project, or follow me on <a href='https://www.youtube.com/channel/UCGTlxm5dDGGP0rgXW6YxPIw'>YouTube</a>, <a href='https://www.instagram.com/eusonic'>Instagram</a>, and <a href='https://twitter.com/eusonic'>Twitter</a>.
  </p>
</header>
